TEST_SERVER_EMAIL=college-email@example.edu
TEST_SERVER_NAME=your-name
TEST_SERVER_ROLL_NO=your-roll-number
TEST_SERVER_ACCESS_CODE=your-access-code
TEST_SERVER_CLIENT_ID=your-client-id
TEST_SERVER_CLIENT_SECRET=your-client-secret
